<h1>Favicon Finder</h1>
<%= render 'error_messages' if @url %>
<%= form_tag(root_path, method: 'get') do %>
  <%= text_field_tag(:search, params[:search], placeholder: 'Enter URL') %>
  <%= submit_tag('Find Favicon') %>
<% end %>

<% if @favicon%>
	<!-- Should get newest favicon each time -->
	<%= image_tag(@favicon) %>
<% elsif @has_searched %>
	<%= "No favicon found" %>
<% end %>